
.VIpgJd-ZVi9od-ORHb{
    background-color: rgba(11, 103, 184, 0);
}
.VIpgJd-ZVi9od-ORHb-OEVmcd.skiptranslate{
    background-color: rgba(11, 103, 184, 0);
    height: 0px;
    visibility: hidden;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd{
    background-color: rgba(11, 103, 184, 0);
    border-bottom: 0px solid #6B90DA;
    box-shadow: none;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd{
    color: #6b90da00;
    display: none;
}
.skiptranslate.goog-te-gadget,#text{
    color: rgb(59, 254, 0);
    font-size: 0px;
}

#google_translate_element {
    
}